/base/Splendor_OnlyPlayerView/__pycache__/*
/base/CENTURY/__pycache__/*
/base/MACHIKORO/__pycache__/*
/base/SHERIFF/__pycache__/*
/base/Splendor/__pycache__/*
/base/TLMN/__pycache__/*
/base/TLMN_v2/__pycache__/*
/base/SushiGo-main/__pycache__/*

/test/*
/Agent/player_random/__pycache__/*
/Agent/player_random/Data/*
/Agent/Trang/__pycache__/*
/Agent/Trang/Data/*


/__pycache__/*