*.pyc
*.nbc
*.nbi


/Agent/*
/__pycache__/*
/__pycache__/ 
!/Agent/player_random/
/Agent/Trang/
/Agent/Numba_KPI/
/Agent/Trang/Data/
/Agent/NhatAnh_New/*
**/__pycache__/
/test
test.py
/test2.py
/test_hethong.ipynb
/test_he_thong.ipynb