/base/Splendor_v2/__pycache__/*
/base/Century/__pycache__/*
/base/MachiKoro/__pycache__/*
/base/Sheriff/__pycache__/*
/base/Splendor/__pycache__/*
/base/TLMN/__pycache__/*
/base/TLMN_v2/__pycache__/*
/base/SushiGo-main/__pycache__/*
/base/Catan/__pycache__/*
*.pyc
*.nbc
*.nbi
/test.ipynb
/test.py
/test/*
/test/
/test.py
/Agent/player_random/__pycache__/*
/Agent/player_random/Data/*
/Agent/Trang/__pycache__/*
/Agent/Trang/Data/*
/Agent/CatKhanh_0822_2/__pycache__/*
/Agent/CatKhanh_0822_2/Data/*
/Agent/Phong_130922/*
/Agent/Hieu_130922/*
# /Agent/
/Agent/*
/__pycache__/*
/__pycache__/ 
!/Agent/player_random/
!/Agent/Trang/